@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #E6E6E6;  
    font-family: Nanum Gothic;
}

a{
    color: #0035CB;
}
a:visited{
    color: #3DDFFF;
}
a:hover{
    color: #F16161;
}
