#header{
    text-align: center;
    padding: 2%;
    background-color: #E6E6E6;
   
}
#header a{

    font-weight: bold;
    font-size: 48px;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
}
#header h2{

    font-weight: normal;
    color: black;
    padding: 15px;
}
#header hr{
    padding: 1px;
    background-color: black;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;   
}
