#central{  
    float:right;
    width: 75%;
    height: auto;
    min-height: 900px;
    border: 1px solid black;
    margin-right: 25px;
    margin-top: 2.5%;

}
#central h1{
    font-size: 48px;
    margin-bottom: 5px;
  
    font-weight: normal;
    letter-spacing: 1px;
    padding: 3%;
}


.product img{
    width: 175px;
    height: 125px;
    padding: 10px;
}
.product{
    width: 25%;
    text-align:center;
    border: 1px solid black;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    margin-bottom: 4%;
    padding-bottom: 5%;
}
.product h2{
    font-size: 24px;
    font-weight: bold;
    padding:  10px;
}
.product p{
    font-size: 18px;
    padding:  10px;
}
.product a{
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}