@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #E6E6E6;  
    font-family: Nanum Gothic;
}

a{
    color: #0035CB;
}
a:visited{
    color: #3DDFFF;
}
a:hover{
    color: #F16161;
}

#header{
    text-align: center;
    padding: 2%;
    background-color: #E6E6E6;
   
}
#header a{

    font-weight: bold;
    font-size: 48px;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
}
#header h2{

    font-weight: normal;
    color: black;
    padding: 15px;
}
#header hr{
    padding: 1px;
    background-color: black;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;   
}


#menu{
    clear: both;
    background: whitesmoke;
    height: 60px;
    border-top: 5px double black;
    border-bottom: 5px double black;

    
}
#menu ul{
    list-style: none;
    text-decoration:none;
    margin-top: 0.5%;
    margin-left: 8%;
    padding-left: 2%;
}
#menu ul li{
    line-height: 25px;
    float: left;
}
#menu ul li a{
    display: block;
    color: black;
}
#menu a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    padding-left: 50px;
    padding-right:50px;
    margin-left: 20px;
}
#menu a:hover{
    color: #736D6D;
    border-bottom: 2px solid black;
}
#menu ul li input[type="text"]{
    margin-top: 10px;
    width: 600px;
    height: 20px;
    border: 2px solid #C6C5C5;
 
}
#menu ul li input[type="text"]:focus{
    margin-top: 10px;
    width: 600px;
    height: 20px;
    border: 2px solid black;  

}
#menu ul li input[type="text"]:hover{
    margin-top: 10px;
    width: 600px;
    height: 20px;
    border: 2px solid #5B5B5B; 
    
}
#menu ul li input[type="image"]{
    margin-left: 10px;
    height: 10px;
}


#central{  
    float:right;
    width: 75%;
    height: auto;
    min-height: 900px;
    border: 1px solid black;
    margin-right: 25px;
    margin-top: 2.5%;
    padding: 10px;
}
#central h1{
    font-size: 48px;
    margin-bottom: 5px;
  
    font-weight: normal;
    letter-spacing: 1px;
    padding: 3%;
}


.product img{
    width: 270px;
    height: 200px;
    padding: 10px;
}
.product{
    width: 25%;
    text-align:center;
    border: 1px solid black;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    margin-bottom: 4%;
    padding-bottom: 5%;
}
.product h2{
    font-size: 24px;
    font-weight: bold;
    padding:  10px;
}
.product p{
    font-size: 18px;
    padding:  10px;
}
.product a{
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#registro{
    padding: 10%;
    justify-content: center;
    margin-right: 5%;
    margin-left: 15%;
}
#registro h1{
    font-weight: bold;
}
#registro
input[type="text"],
input[type="password"],
input[type="email"],select{
    padding: 1%;
    width: 80%;
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 2%;
    margin-top: 2%;
}
#registro input[type="submit"]{
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 8px;
    background-color:none;
    
}

#lateral{
    width: 18%;
    float:left;
    margin-top: 2.5%;
    margin-left: 10px;
    border: 1px solid black;
    padding: 15px;
    height: auto;

}
#lateral ul{
    text-decoration:none;
    list-style: square;
    margin-left:15%;
    margin-bottom: 15%;
}
#lateral ul li{
    margin-top: 3%;
    margin-bottom: 5%;
}
#lateral h3{
    padding:7%;
}
#lateral a{
    text-decoration: none;
}
#login{
    margin-top: 5%;
    border: 1px solid black;
    margin-bottom: 10%;
}
#categorias{
    border: 1px solid black;
    margin-bottom: 5%;
}
#lateral ul li a{
    color: #696969;
}
#lateral ul li a:hover{
    color: black;
}

#footer{
    clear: both;
    text-align: center;
    padding-top:2%;
    padding-bottom: 2%;
}

