@import url('https://fonts.googleapis.com/css2?family=Alata&family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');


*{
    padding: 0px;
    margin: 0px;
}

body{
    background: #E6E6E6;  
    font-family: Nanum Gothic;
}

a{
    color: #0035CB;
}
a:visited{
    color: #3DDFFF;
}
a:hover{
    color: #F16161;
}

#header{
    text-align: center;
    padding: 2%;
    background-color: #E6E6E6;
   
}
#header a{

    font-weight: bold;
    font-size: 48px;
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
}
#header h2{

    font-weight: normal;
    color: black;
    padding: 15px;
}
#header hr{
    padding: 1px;
    background-color: black;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;   
}

/*NAV BAR*/
#menu{
    clear: both;
    background: whitesmoke;
    height: 60px;
    border-top: 5px double black;
    border-bottom: 5px double black;
}
#menu ul{
    justify-content: center;
    list-style: none;
    text-decoration:none;
    margin-top: 0.5%;
}
#menu ul li{
    line-height: 25px;
    float: left;
}

.menu_lista{
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5em;
}

.menu_barra{
    flex: 5 1 auto;
}

.menu_el{
    flex: 1 1 auto;
}

.busq{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.busqBarra{
    flex: 10 1 auto;
    align-content: center;
    width: 90%;
    height: 40px;
    border: 2px solid #C6C5C5;
}

#menu ul li input[type="text"]:focus{
    border: 2px solid black;  

}
#menu ul li input[type="text"]:hover{
    border: 2px solid #5B5B5B; 
    
}

.busqBoton{
    margin-top: 2px;
    flex: 1 1 auto;
    margin-left: 20px;
    margin-top: 10px;
    height: 1.5em;
    width: 1.5em;
}
#menu ul li a{
    display: block;
    color: black;
}
#menu a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    padding-left: 50px;
    padding-right:50px;
    margin-left: 20px;
}
#menu a:hover{
    color: #736D6D;
    border-bottom: 2px solid black;
}
/*Contenedor padre*/
.contenido{
    display: flex;
    flex-flow: row nowrap;
}
/*LATERAL*/
#lateral{
    flex: 2 1 auto;
    float:left;
    margin-top: 2.5%;
    margin-left: 10px;
    margin-right: 2%;
    min-width: 200px;
    border: 1px solid black;
    padding: 15px;
    height: max-content;

}
#lateral ul{
    text-decoration:none;
    list-style: square;
    margin-left:15%;
    margin-bottom: 15%;
}
#lateral ul li{
    margin-top: 3%;
    margin-bottom: 5%;
}
#lateral h3{
    padding:7%;
}
#lateral a{
    text-decoration: none;
}
#login{
    margin-top: 5%;
    border: 1px solid black;
    margin-bottom: 10%;
}
#categorias{
    border: 1px solid black;
    margin-bottom: 5%;
}
#lateral ul li a{
    color: #696969;
}
#lateral ul li a:hover{
    color: black;
}

/*CENTRAL*/
#central{  
    float:right;
    flex: 9 1 auto;
    height: auto;
    min-height: 900px;
    border: 1px solid black;
    margin-right: 25px;
    margin-top: 2.5%;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#central h1{
    font-size: 48px;
    margin-bottom: 5px;
  
    font-weight: normal;
    letter-spacing: 1px;
    padding: 3%;
}
.ultimasnovedades{
    flex: 1 1 auto;
    text-align: center;
    width: 100%;
    height: min-content;
}

.product img{
    width: 270px;
    height: 200px;
    padding: 10px;
}
.product{
    text-align:center;
    height: min-content;
    border: 1px solid black;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    margin-bottom: 4%;
    padding-bottom: 5%;

    flex: 1 1 auto;
}
.product h2{
    font-size: 24px;
    font-weight: bold;
    padding:  10px;
}
.product p{
    font-size: 18px;
    padding:  10px;
}
.product a{
    font-size: 24px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#registro{
    padding: 10%;
    justify-content: center;
    margin-right: 5%;
    margin-left: 15%;
}
#registro h1{

    font-weight: bold;
    margin-bottom: 15px;

}
#registro hr{
    padding: 2px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20%;   
}
#registro
input[type="text"],
input[type="password"],
input[type="email"],select{
    padding: 1%;
    width: 80%;
    display: block;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 2%;
    margin-top: 2%;
}
#registro input[type="submit"]{
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 8px;
    background-color:none;
    
}

.alert_green{
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    color: green;
}
.alert_red{
    padding-bottom: 20px;
    padding-top: 10px;
    display: block;
    color: #F16161;
}

#footer{
    margin-top: 15px;
    clear: both;
    text-align: center;
    padding-top:2%;
    padding-bottom: 2%;
}

@media all and (max-width: 1117px){
    #menu{
        height: 120px;
    }
}

@media all and (max-width: 900px){
    .product img{
        display: none;
    }
}